// spacing(padding, margin):-
$main-element-padding: 20px;
$sec-element-padding: 10px;
$up-down-padding: 60px;
// Light Mode colors :-
$black-color:#000;
$white-color: #FFF;
$dark-white:#EEE;
$main-color:#0075ff;
$sec-color:#0d69d5;
$green-color: #22c55e;
$orange-color: #f59e0b;
$red-color: #f44336;
$light-color:#888;
$un-checked-color: #ccc;
$main-background-color: #FFF;
$sec-background-color:#f1f5f9;
$element-background-color:#f6f6f6;
// Light Mode box-shadow-:-
$main-box-shadow: 5px 0 5px 1px #ececec;
$hovered-box-shadow: 0 0 15px 5px #ececec;
// Dark Mode Colors:-
$black-dark-color: #222222;
$main-dark-background-color: #323234;
$white-dark-color: #FDFDF6;
$dark-white-dark-color:#a5a5a5;
$main-input-background-dark-color: #2a2a2a;
// Dark Mode box-shadow-:-
$main-dark-box-shadow: 5px 0 5px 0 rgb(23 22 22 / 15%);